@import 'src/styles/_vars';

.list {
  margin: .5em;

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $taskBackground;
    margin: .5em 0;
    text-align: left;
    padding: .5em;
    border-radius: 5px;
    letter-spacing: .03em;

    &--delete {
      display: block;
      width: 1.3em;
      height: 1.3em;
      cursor: pointer;
    }
  }
}
