@import 'src/styles/_vars';

.list {
  margin: .5em;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $taskBackground;
    margin: .5em 0;
    text-align: left;
    padding: .5em;
    border-radius: 5px;
    letter-spacing: .03em;

    &--delete {
      width: 1.3em;
      height: 1.3em;
      cursor: pointer;

      &:hover {
        background-color: white;
        fill: black;
        transition: all .2s;
      }
    }

    &--done {
      width: 1.3em;
      height: 1.3em;
      cursor: pointer;
      margin-right: .5em;

      &:hover {
        background-color: white;
        fill: black;
        transition: all .2s;
      }
    }
  }
}

.taskDone {
  text-decoration: line-through;
  color: darken($fontColor, 20%);
  background-color: darken($taskBackground, 20%);
}
