@import 'src/styles/_vars.scss';

.form {
  background-color: $inputBackground;
  padding: .8em 1.2em;

  &-input {
    width: 100%;
    line-height: 1.5;
    background-color: $inputBackground;
    border: none;
    font-size: 1.3em;
    border-bottom: 1px solid #fff;
    color: $fontColor;
    letter-spacing: .05em;

    &:focus {
      border-bottom: 1px solid darken(#fff, 30%);
      transition: border-bottom .3s;
    }
  }
}

@media (min-width: 576px) {
  .form {
    padding: .8em 1.2em;
  }
}

@media (min-width: 678px) {
  .form {
    padding: 1em 1.8em;
  }
}

@media (min-width: 992px) {
  .form {
    padding: 1em 3em;
  }
}
